$color-primary: #36465d;
$color-primary-dark: #303d51;

$color-white: #fff;
$color-green: #53b685;
$color-blue: #4aa8d7;
$color-amber: #f2992e;

$color-background: #fff;
$color-text: $color-primary;
$color-link: $color-green;

$dimen-radius: 0.25em;
