<label>
	{{input type="tel" value=number class="number" placeholder="Card number" required=true}}
</label>
<label>
	{{input type="tel" value=expiry class="expiry" placeholder="Expiry date" required=true}}
</label>
<label>
	{{input type="tel" value=code class="code" placeholder="Security code" required=true}}
</label>
