<section class="fullscreen">
	<img src="assets/images/plan-x.svg" alt="Plan X" class="logo">
	<div class="choose">
		<p>
			{{#link-to 'sign-up' tagName="button" class="primary"}}Sign up{{/link-to}}
		</p>
		<p>
			{{#link-to 'login' tagName="button"}}Login{{/link-to}}
		</p>
	</div>
</section>
