<main class="hero">
	<img src="assets/images/woc.svg" class="logo">
	{{link-to 'Login with email' 'login.email' tagName="button"}}
	<button class="facebook-login" {{action 'loginWithFacebook'}}>Login with Facebook</button>
	{{link-to 'Sign up' 'sign-up' tagName="button"}}
</main>
