.results {
  display: flex;
  flex: 1;
  margin: 0 2em 2em;
}

.items {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: -1em;
}

.spinner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
