<header class={{theme}}>
	<h1>Loading&#8230;</h1>
</header>
<main class="content">
	<div class="invite-code">
		<p>Share your invite code with your friends to invite them to join Crew Untold</p>
		<h2>Loading&#8230;</h2>
	</div>
</main>
{{nav-footer 'settings'}}
