@import '../../variables';

.button {
	appearance: none;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	color: $primary;
	cursor: pointer;
	font: inherit;
	font-weight: 500;
	padding: 1em 0;
	text-align: left;
	transition: 200ms;
	user-select: text;
	width: 100%;

	&:active {
		border-color: $accent;
	}
}
