<header class={{theme}}>
	{{back-button}}
	<h1>About</h1>
</header>
<main class="content">
	<img src="assets/images/crew-untold.png" class="logo">
	<h3 class="hero">{{version (app-version)}}</h3>
	<p>In the aviation industry, rude passengers are considered especially annoying. On the internet, the dedicated air crew that investigate these vicious felonies are members of an elite squad known as the Crew Untold. These are their stories&#8230;</p>
	<p>Check out our <a href="http://crewuntold.com" class="button slim">website</a></p>
	<p>Tweet us at <a href="https://twitter.com/crewuntold" class="button slim">@crewuntold</a> if you see something weird. Like, a bug or inappropriate activity</p>
</main>
{{nav-footer}}
