<header class={{theme}}>
	{{back-button}}
	<h1>Terms</h1>
</header>
<main class="content">
	<p>Crew Untold is a platform where anyone can share their thoughts without fear of persecution. We encourage freedom of speech. Our goal is to let people share what they might be comfortable sharing on Facebook or Twitter, etc.</p>
	<p>That being said, we have a few terms so we can ensure everyone feels welcome here.</p>
	<p>By using Crew Untold, you agree to the following terms and conditions:</p>
	<ul class="content">
		<li>Share freely, but be respectful of others and acknowledge their beliefs, even if you don't agree with them</li>
		<li>Do not attack or bully other users; be civil in your disagreements. Anonymous shouldn't mean inhumane</li>
		<li>
			Inappropriate content will be removed and you may be banned from using Crew Untold. Includes, but not limited to:
			<ul>
				<li>obscene,</li>
				<li>pornographic,</li>
				<li>offensive,</li>
				<li>or defamatory material</li>
			</ul>
		</li>
	</ul>
	<img src="assets/images/crew-untold.png" class="logo">
</main>
{{nav-footer}}
