<footer>
	<p>Follow Misty</p>
  <div>
    <a href="https://www.youtube.com/channel/UCgsI6fumoMInM5U9GOo2mmA" class="youtube">YouTube</a>
    <a href="https://github.com/alizahid/misty" class="youtube">GitHub</a>
  </div>
</footer>
