// colors

$primary: #9c3627;
$primary-light: lighten($primary, 5%);
$primary-dark: darken($primary, 5%);

$accent: #4585c3;
$accent-light: lighten($accent, 5%);
$accent-dark: darken($accent, 5%);

$overlay: #242425;
$overlay-light: lighten($overlay, 5%);
$overlay-dark: darken($overlay, 5%);

$background: #151618;
$background-dark: darken($background, 5%);
$background-light: lighten($background, 5%);

$color-text: white;
$color-text-dark: #b7b7b4;

$color-success: #4cd964;
$color-error: #ff3b30;
$color-message: #007aff;

$border: rgba(255, 255, 255, 0.05);

// animations

$transition: 200ms;

// layout

$radius: 0.25em;
